<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>编辑</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal"  id="form-sys_user-edit" action="#" th:action="@{/sys/sys_user/edit}" th:object="${sys_user}">
    <input type="hidden" name="id" th:value="${sys_user.id}"/>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>：</label>
        <div class="formControls col-xs-5 col-sm-5">
                     <input type="input-text" class="input-text Wdate" onfocus="WdatePicker({el:$dp.$('startupDate'),dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly"
                            autocomplete="off" th:value="${#temporals.format(sys_user.createtime, 'yyyy-MM-dd HH:mm:ss')}" name="createtime" placeholder="请选择"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>：</label>
        <div class="formControls col-xs-5 col-sm-5">
                    <input type="text" class="input-text"  th:field="*{password}" name="password" id="password"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>：</label>
        <div class="formControls col-xs-5 col-sm-5">
                     <input type="input-text" class="input-text Wdate" onfocus="WdatePicker({el:$dp.$('startupDate'),dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly"
                            autocomplete="off" th:value="${#temporals.format(sys_user.updatetime, 'yyyy-MM-dd HH:mm:ss')}" name="updatetime" placeholder="请选择"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>：</label>
        <div class="formControls col-xs-5 col-sm-5">
                    <input type="text" class="input-text"  th:field="*{username}" name="username" id="username"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>：</label>
        <div class="formControls col-xs-5 col-sm-5">
                    <input type="text" class="input-text"  th:field="*{available}" name="available" id="available"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>：</label>
        <div class="formControls col-xs-5 col-sm-5">
                    <input type="text" class="input-text"  th:field="*{email}" name="email" id="email"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>：</label>
        <div class="formControls col-xs-5 col-sm-5">
                    <input type="text" class="input-text"  th:field="*{tel}" name="tel" id="tel"/>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别(0.男,1.女)：</label>
        <div class="formControls col-xs-5 col-sm-5">
                    <input type="text" class="input-text"  th:field="*{sexType}" name="sexType" id="sexType"/>
        </div>
    </div>
	<div class="row cl">
	<div class="col-xs-3 col-sm-3 col-xs-offset-4 col-sm-offset-3">
		<input class="btn btn-primary radius" id="subbtn" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input class="btn radius" id="reset" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;"/>
	</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<div th:replace="_footer :: footerjs"></div>
 <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script>
 $(function(){
	$("#form-sys_user-edit").validate({
		rules:{
                 createtime:{
                 required:true,
             },
                 password:{
                 required:true,
             },
                 updatetime:{
                 required:true,
             },
                 username:{
                 required:true,
             },
                 available:{
                 required:true,
             },
                 email:{
                 required:true,
             },
                 tel:{
                 required:true,
             },
                 sexType:{
                 required:true,
             },
		},
		onkeyup:false,
		debug: true,
		success:"valid",
		submitHandler:function(form){
				$(form).ajaxSubmit({
				type: 'POST',
				url: "/sys/sys_user/edit" ,
				success: function(data){
					if(data.code == "0"){
						layer.designMsg('编辑成功!',1,function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index); 
						});
					}else{
						layer.designMsg('编辑失败!');
					}
				},
                error: function(){
					layer.designMsg('编辑异常!',5);
				}
			});
		}
	});
}); 

</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>