<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
	<title>第三方支付</title>
</head>

<body>
	<article class="page-container">
        <form class="form form-horizontal"    th:action="@{/thirdPay/pay}" method="post" target="_blank">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-5"><h3><b>说明：参数默认均为必填</b></h3></label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-5"><h3>支付演示</h3></label>
            </div>
            <br/>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">支付方式：</label>
                <div class="formControls col-xs-7 col-sm-8 skin-minimal">
                    <div class="radio-box" >
                        <input type="radio" id="sex-1" name="payType" value="1" checked="checked"/>
                        <label for="sex-1" >支付宝</label>
                    </div>
                    <div class="radio-box" >
                        <input type="radio" id="sex-0" name="payType" value="2" />
                        <label for="sex-0" >微信</label>
                    </div>
                    <div class="radio-box" >
                        <input type="radio" id="sex-2" name="payType" value="3" />
                        <label for="sex-2" >银联</label>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">唯一订单号：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  th:value="${orderId}" name="outTradeNo" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">总金额：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  name="totalFee" style="width:400px">
                </div>
            </div>
            <div class="row cl" id="txnTimeDiv">
                <label class="form-label col-xs-4 col-sm-3">订单发送时间(银联必填)：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text" th:value="${txnTime}"  name="txnTime" style="width:400px">
                </div>
            </div>
            <div class="row cl" id="subjectDiv">
                <label class="form-label col-xs-4 col-sm-3">订单标题(支付宝、微信必填)：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  name="subject" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-4">
                    <input class="btn btn-primary radius" type="submit" id="pay" value="&nbsp;&nbsp;支付&nbsp;&nbsp;"/>
                </div>
            </div>
        </form>
        <br/><hr/>
        <form class="form form-horizontal" action="#" th:action="@{/aliPay/refund}" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-5"><h3>（全部或部分）退款演示</h3></label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">订单支付方式：</label>
                <div class="formControls col-xs-7 col-sm-8 skin-minimal">
                    <div class="radio-box" >
                        <input type="radio" id="sex-1" name="payTypeRef" value="1" checked="checked"/>
                        <label for="sex-1" >支付宝</label>
                    </div>
                    <div class="radio-box" >
                        <input type="radio" id="sex-0" name="payTypeRef" value="2" />
                        <label for="sex-0" >微信</label>
                    </div>
                    <div class="radio-box" >
                        <input type="radio" id="sex-2" name="payTypeRef" value="3" />
                        <label for="sex-2" >银联</label>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">唯一订单号：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="outTradeNo" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">退款单号(微信和支付宝必填)：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="outRequestNo" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">退款金额：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="refundAmount" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">订单金额(微信必填)：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="totalAmount" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">原交易流水号(银联必填)：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="origQryId" value="" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-4">
                    <input class="btn btn-primary radius" id="refund" type="button" value="&nbsp;&nbsp;退款&nbsp;&nbsp;"/>
                </div>
            </div>
        </form>
	</article>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"/>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script>
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });

    $('#refund').click(function () {
        $.ajax({
            type: 'POST',
            url: '/thirdPay/refund',
            data:JSON.stringify({
                'payType':$('input[name="payTypeRef"]:checked').val(),
                'outTradeNo':$('#outTradeNo').val(),
                'outRequestNo':$('#outRequestNo').val(),
                'refundAmount':$('#refundAmount').val(),
                'origQryId':$('#origQryId').val(),
                'totalAmount':$('#totalAmount').val()
            }),
            type:'post',
            cache:false,
            dataType:'json',
            contentType:"application/json",  //发送信息至服务器时内容编码类型。
            success: function(data){
                if (data.code == CODE_SUCCESS){
                    layer.designMsg(data.message,1,function () {
                        window.location.reload();//页面刷新
                    },3);
                }else{
                    layer.designMsg(data.message,null,null, 3);
                }
            },
            error:function(data) {
                layer.designMsg("资源访问失败");
            },
        });
    });
</script>
</body>
</html>