<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
	<title>电脑网站微信支付测试</title>
</head>
<body>
	<article class="page-container">
        <form class="form form-horizontal" action="#"  method="post">
            <div class="row cl">

                <label class="form-label col-xs-4 col-sm-3">【微信支付测试】</label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">唯一订单号(8-40位)：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="outTradeNo"  th:value="${orderId}" name="outTradeNo" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">总金额：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="totalFee" name="totalFee" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">订单标题（可选）：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text" id="subject"  name="subject" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-5">
                    <input class="btn btn-primary radius" id="payPC" type="button" value="&nbsp;&nbsp;支付&nbsp;&nbsp;"/>
                </div>
            </div>
            <div class="row cl" id="result" style="display: none">
                <label class="form-label col-xs-4 col-sm-3">支付二维码如下：</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <img id="qrCode"/>
                </div>
            </div>
        </form>

	</article>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"/>
<script>
    $('#payPC').click(function () {
        $.ajax({
            type: 'POST',
            url: '/wxPay/payPC',
            data:JSON.stringify({
                'outTradeNo':$('#outTradeNo').val(),
                'totalFee':$('#totalFee').val(),
                'subject':$('#subject').val(),
            }),
            type:'post',
            cache:false,
            dataType:'json',
            contentType:"application/json", //发送信息至服务器时内容编码类型。
            success: function(data){
                if (data.code == CODE_SUCCESS){
                    layer.designMsg("生成支付二维码成功！",1,function () {
                        console.log("data.message："+data.message);
                       $("#qrCode").attr('src',data.message);
                       $('#result').show();
                    });
                }else{
                    layer.designMsg(data.message);
                }
            },
            error:function(data) {
                layer.designMsg("资源访问失败");
            },
        });
    });
</script>
</body>
</html>