<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
    <title>文件下载测试</title>
</head>
<body>
	<article class="page-container">
        <form class="form form-horizontal" id="form-admin-add" action="downloadSingleFile" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">单文件下载：</label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">url</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  name="url" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">下载之后文件名（可选）</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  name="fileName" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-5">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;下载&nbsp;&nbsp;"/>
                </div>
            </div>
        </form>
        <br/>
        <hr/>
        <form class="form form-horizontal" id="form-admin-add" action="downloadSingleFile" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">单文件下载(JQ)：</label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">url</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="url" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">下载之后文件名（可选）</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="fileName" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-5">
                    <input class="btn btn-primary radius" type="button" onclick="downloadSingleFileTest();" value="&nbsp;&nbsp;下载&nbsp;&nbsp;"/>
                </div>
            </div>
        </form>
        <br/>
        <hr/>
        <form class="form form-horizontal" id="form-admin-add" action="downloadMultipartFileWithZip" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">批量打包zip下载：</label>
            </div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">url</label>
				<div class="formControls col-xs-7 col-sm-8">
					<input class="input-text upload-url" type="text"  name="urlList[0]" value="" style="width:400px">
				</div>
			</div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"></label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  name="urlList[1]" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">压缩包名称（可选）</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  name="zipName" style="width:400px">
                </div>
            </div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-5">
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;下载&nbsp;&nbsp;"/>
				</div>
			</div>
		</form>
        <br/>
        <hr/>
        <form class="form form-horizontal" id="form-admin-add" action="downloadMultipartFileWithZip" method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">批量打包zip下载(JQ)：</label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">url</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="urlList[0]" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"></label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="urlList[1]" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">压缩包名称（可选）</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  id="zipName" style="width:400px">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-5">
                    <input class="btn btn-primary radius" type="button" onclick="downloadMultipartFileWithZipTest();" value="&nbsp;&nbsp;下载&nbsp;&nbsp;"/>
                </div>
            </div>
        </form>
        <br/>
        <hr/>
        <form class="form form-horizontal">
            <div class="row cl">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">thymleaf中括号传参示例：</label>
                </div>
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-4">
                    <a title="test"  href="javascript:;" th:onclick="downloadSingleFile([[${file?.filename}]],[[${file?.filePath}]]);" >【a】传参示例</a>
                    <br/><br/>
                    <input class="btn btn-primary radius" th:onclick="downloadSingleFile([[${file?.filename}]],[[${file?.filePath}]]);" value="【input】传参示例"/>
                    <br/><br/>
                    直接取后台参数：<br/><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;file.filename：[[${file?.filename}]]<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;file.filePath：[[${file?.filePath}]]
                </div>
            </div>
        </form>
        <form class="form form-horizontal" id="form-admin-add" action="uploadSingleFile2Pro" enctype="multipart/form-data"  method="post">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">单文件上传：</label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>文件</label>
                <div class="formControls col-xs-7 col-sm-8">
                    <input class="input-text upload-url" type="text"  readonly="" style="width:400px">
                    <a href="javascript:void();" class="btn btn-primary upload-btn"><i class="Hui-iconfont"></i> 浏览文件</a>
                    <input type="file" multiple="" name="file"  class="input-file valid" style="width:55%;float:left;height:38px;margin-right: 43%;cursor: pointer;">
                    </span>
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-7 col-sm-offset-5">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;上传&nbsp;&nbsp;"/>
                </div>
            </div>
            <img src="/upload/深度截图_选择区域_20190304110450.png"/>
        </form>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	</article>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"/>
<script>
    function downloadSingleFileTest() {
        downloadSingleFile($('#url').val(),$('#fileName').val());
    }
    function downloadMultipartFileWithZipTest() {
        var urlArr = new  Array();
        $('input[id^=urlList]').each(function () {
            if ($(this).val() != ""){
                urlArr.push($(this).val());
            }
        });
        downloadMultipartFileWithZip(urlArr,$('#zipName').val());
    }
    function downloadSingleFile(fileName,filePath) {
        alert("获取参数成功："
            +"\n    fileName===>"+fileName
            +"\n    filePath===>"+filePath);
    }
</script>
</body>
</html>