<!DOCTYPE html>
<head>
	<title>测试入口</title>
</head>
<body>
    <div style="width:500px;border: 1px solid black;margin:50px 100px;padding: 100px;">
        <a>测试入口：</a>
        <br/>
        <div style="margin:50px;">
            <a href="/file/test" target="_blank">文件下载</a>
            <br/>
            <br/>
            <a href="/thirdPay/test" target="_blank">支付演示</a>
            <!--<br/>-->
            <!--<br/>-->
            <!--<a href="/aliPay/test" target="_blank">支付宝支付</a>-->
            <!--<br/>-->
            <!--<br/>-->
            <!--<a href="/wxPay/test" target="_blank">微信支付</a>-->
            <!--<br/>-->
            <!--<br/>-->
            <!--<a href="/unionPay/test" target="_blank">银联支付</a>-->
        </div>
    </div>
</body>
</html>