<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
    <title>编辑</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-fu-edit" action="#"
          th:action="@{/admin/fu/edit}" th:object="${fu}">
        <input type="hidden" name="id" th:value="${fu.id}"/>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span
                                class="c-red">*</span>名字：</label>
                            <div class="formControls col-xs-7 col-sm-7">
                                <input type="input-text" class="input-text"
                                       th:value="${fu.name}"
                                       name="name"
                                       placeholder="修改名字"
                                       id="name"/>
                            </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span
                                class="c-red">*</span>密码：</label>
                            <div class="formControls col-xs-7 col-sm-7">
                                <input type="input-text" class="input-text"
                                       th:value="${fu.password}"
                                       name="password"
                                       placeholder="修改密码"
                                       id="password"/>
                            </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span
                                class="c-red">*</span>最终登录时间：</label>
                            <div class="formControls col-xs-7 col-sm-7">
                                <input type="input-text" class="input-text Wdate"
                                       onfocus="WdatePicker({el:$dp.$('startupDate'),dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                                       readonly="readonly"
                                       autocomplete="off"
                                       th:value="${#temporals.format(fu.loginTime, 'yyyy-MM-dd HH:mm:ss')}"
                                       name="loginTime" placeholder="请选择最终登录时间"/>
                            </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span
                                class="c-red">*</span>描述：</label>
                            <div class="formControls col-xs-7 col-sm-7" style="height: 600px;">
                                <script id="content" th:text="${fu.content}" name="content" autofocus type="text/plain" class="input-text" style="border:0;padding: 0;">
                                </script>
                            </div>
                    </div>
                </div>
        <div class="row cl">
            <div class="col-xs-3 col-sm-3 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="subbtn" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
                <input class="btn radius" id="reset" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;"/>
            </div>
        </div>
    </form>
</article>
<div th:replace="_ueditor :: ueditor"></div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"></div>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script>
    $(function () {
        $("#form-fu-edit").validate({
            rules: {
        name:
        {
            required: true,
        },
        password:
        {
            required: true,
        },
        loginTime:
        {
            required: true,
        },
        content:
        {
            required: true,
        },
    },
        onkeyup:false,
            debug
    :
        true,
            success
    :
        "valid",
            submitHandler
    :

        function (form) {
            $(form).ajaxSubmit({
                type: 'POST',
                url: "/admin/fu/edit",
                success: function (data) {
                    if (data.code == "0") {
                        layer.designMsg('编辑成功!', 1, function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.location.reload();
                            parent.layer.close(index);
                        });
                    } else {
                        layer.designMsg('编辑失败!');
                    }
                },
                error: function () {
                    layer.designMsg('编辑异常!', 5);
                }
            });
        }
    })
        ;
    });

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>