<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.admin.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.admin.entity.Person">
      <id column="id" jdbcType="BIGINT" property="id" />
              <id column="name" jdbcType="VARCHAR" property="name" />
              <id column="code" jdbcType="VARCHAR" property="code" />
              <id column="content" jdbcType="TEXT" property="content" />
              <id column="file_path" jdbcType="VARCHAR" property="filePath" />
  </resultMap>
  <sql id="Base_Column_List">
              id,
      name, code, content, file_path
  </sql>

 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_person
        where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  t_person
        where id = #{id,jdbcType=BIGINT }
  </delete>
  <insert id="insert" parameterType="com.mbyte.easy.admin.entity.Person">
    insert into t_person (name, code, content, file_path)
    values (
         name = #{name,jdbcType=VARCHAR},
         code = #{code,jdbcType=VARCHAR},
         content = #{content,jdbcType=TEXT},
         file_path = #{filePath,jdbcType=VARCHAR}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.mbyte.easy.admin.entity.Person">
    insert into t_person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
         name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
         code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
         content = #{content,jdbcType=TEXT},
      </if>
      <if test="filePath != null">
         file_path = #{filePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbyte.easy.admin.entity.Person">
    update t_person
    <set>
      <if test="name != null">
         name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
         code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
         content = #{content,jdbcType=TEXT},
      </if>
      <if test="filePath != null">
         file_path = #{filePath,jdbcType=VARCHAR},
      </if>
    </set>
        where id = #{id,jdbcType=BIGINT }

  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbyte.easy.admin.entity.Person">
    update t_person
    set
         name = #{name,jdbcType=VARCHAR},
         code = #{code,jdbcType=VARCHAR},
         content = #{content,jdbcType=TEXT},
         file_path = #{filePath,jdbcType=VARCHAR},

        where id = #{id,jdbcType=BIGINT }
  </update>

</mapper>