<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
<title>项目管理</title>
</head>
<body>
	<div class="page-container">
		<form action="#" th:action="@{/admin/Usermanagement/designer/search}"
			method="post">
			<div class="layui-body">
				<!-- 内容主体区域 -->
				<fieldset class="layui-elem-field">
					<legend>设计师列表</legend>
					<div class="layui-field-box">

						<div class="search_condition">
							<div class="layui-form-item ">
								<div class="col-xs-12 col-sm-3">
									<input type="text" class="input-text" style="width: 250px;float:left;margin-left:10px;"
										placeholder="请输入设计师名称进行搜索" id="designername"
										name="designername" th:value="${designername}" />
								</div>	
								<div class="col-xs-12 col-sm-2">
									<button class="layui-btn layui-btn-success radius" id="subbtn"
										type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
										<i class="Hui-iconfont">&#xe665;</i> 查找设计师
									</button>
								</div>	
							</div>
						</div>
						<hr style="margin: 0">
						<div class="cl pd-5 bg-1 bk-gray mt-20">
							<span class="l"> 
								<a href="javascript:;"
									th:onclick="'javascript:deleteAll(\''+@{/admin/Usermanagement/delete}+'\')'"
									class="layui-btn layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i>
										批量删除 
								</a> 
								<a  href="javascript:;" 
									th:onclick="'javascript:admin_add(\'添加设计师\',\' '+@{/admin/Usermanagement/designereadd}+'\',800,600)'"
									class="layui-btn layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i> 
									添加设计师
								</a>
							</span> <span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong>
								条
							</span>
						</div>
						<table class="layui-table text-c">
							<thead>
								<tr class="text-c">
									<th width="25"><input type="checkbox" name="" value="" /></th>
									<th width="40">设计师ID</th>
									<th width="150">设计师名称</th>
									<th width="60">所属专业类型</th>
									<th width="150">联系电话</th>
									<th width="130">邮箱</th>
									<th width="180">注册时间</th>
									<th width="100">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-c" th:if="${pageInfo.getSize() == 0}">
									<td colspan="15"><strong>暂无数据</strong></td>
								</tr>
								<tr class="text-c" th:each="i:${pageInfo.list}">
									<td><input type="checkbox" value="1" th:value="${i.id}"
										name="id" /></td>
									<td th:text="${i.id}"></td>
									<td th:text="${i.username}"></td>
									<td th:text="${i.getDescription()}"></td>
									<td th:text="${i.tel}"></td>
									<td th:text="${i.email}"></td>
									<td
										th:text="${#calendars.format(i.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
									<td class="td-manage">
										
										
										<a title="编辑 " href="javascript:;"
										th:onclick="'javascript:admin_edit(\'修改设计师信息\',\' '+@{/admin/Usermanagement/designeredit}+'?id='+${i.id}+'\',800,600)'"
										 class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
										
										<a title="删除"
										href="javascript:;"
										th:onclick="'javascript:admin_del(\' '+@{/admin/Usermanagement/deleteone}+'?id='+${i.id}+'\')'"
										class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
										
										
										<a title="详情" href="javascript:;"
								   			th:onclick="'javascript:admin_edit(\'设计师详情\',\' '+@{/admin/Usermanagement/designerdetail}+'?id='+${i.id}+'\',800,600)'"
								  			 class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe695;</i></a>
										
										<!-- <a title="置顶" href="javascript:;"
								   		th:onclick="'javascript:admin_top(this,\'/admin/projectmanager'+@{/topproject}+'?id='+${project.id}+'\')'"
								  		 class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe684;</i></a> -->
								</tr>
							</tbody>
						</table>

					</div>
				</fieldset>
			</div>
			<div th:include="_pagination :: page"></div>
		</form>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<div th:replace="_footer :: footerjs"></div>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"
		src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript"
		th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"
		src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"
		src="lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript">
		/*
		 参数解释：
		 title	标题
		 url		请求的url
		 id		需要操作的数据id
		 w		弹出层宽度（缺省调默认值）
		 h		弹出层高度（缺省调默认值）
		 */
		/*设计师增加*/
		function admin_add(title, url, w, h) {
			layer_show(title, url, w, h);
		}

		/*设计师编辑*/
		function admin_edit(title, url, w, h) {
			layer_show(title, url, w, h);
		}
		/*设计师删除*/
		function admin_del(url) {

			layer.confirm('确定要删除吗？', {
				btn : [ '确定', '取消' ]
			// 按钮
			}, function() {
				$.ajax({
					url : url,// 跳转到 action  
					data : String,
					type : 'post',
					cache : false,
					dataType : 'json',
					contentType : "application/json", //发送信息至服务器时内容编码类型。    
					success : function(data) {
						if (data == "1") {
							layer.msg('删除成功!', {
								icon : 1,
								time : 1000
							});
							setTimeout(function() { //使用  setTimeout（）方法设定定时2000毫秒
								window.location.reload();//页面刷新
							}, 500);
						} else {
							layer.msg('删除失败!', {
								icon : 5,
								time : 1000
							});
						}
					},
					error : function() {
						layer.msg("异常！");
					}
				});
			}, function() {

			});
		}

		//批量删除
		function deleteAll(url) {
			var _list = new Array();
			$('input[name="id"]:checked').each(function(i) {
				_list[i] = $(this).val();
			});
			if (_list.length == 0) {
				layer.msg("请选择删除的设计师");
				return false;
			}
			layer.confirm('确定要删除选中的全部设计师吗？', {
				btn : [ '确定', '取消' ]
			// 按钮
			}, function() {
				$.ajax({
					url : url,// 跳转到 action  
					data : JSON.stringify(_list),
					type : 'post',
					cache : false,
					dataType : 'json',
					contentType : "application/json", //发送信息至服务器时内容编码类型。    
					success : function(data) {
						if (data == "1") {
							layer.msg('删除成功!', {
								icon : 1,
								time : 1000
							});
							setTimeout(function() { //使用  setTimeout（）方法设定定时2000毫秒
								window.location.reload();//页面刷新
							}, 500);
						} else {
							layer.msg('删除失败!', {
								icon : 5,
								time : 1000
							});
						}
					},
					error : function() {
						layer.msg("异常！");
					}
				});
			}, function() {

			});
		}
	</script>
</body>
</html>