<header class="navbar-wrapper" th:fragment="nav">
    <ul data-v-24a6dbce=""> 
        <li id="centerli1" data-v-24a6dbce=""> <a th:href="@{/center/myProject}" href="project.htm" data-v-24a6dbce=""> 我的项目 </a> </li> 
        <li id="centerli2" data-v-24a6dbce=""> <a th:href="@{/center/information}" href="information.htm" data-v-24a6dbce=""> 个人信息 </a> </li> 
<!--         <li id="centerli3" data-v-24a6dbce=""> <a href="auth.htm" data-v-24a6dbce=""> 实名认证 </a> </li>  -->
        <li id="centerli4" data-v-24a6dbce=""> <a th:href="@{/myAccount/inwallet}" href="wallet.htm" data-v-24a6dbce=""> 我的账户 </a> </li> 
        <li id="centerli5" data-v-24a6dbce=""> <a th:href="@{/center/MessageMine/one}" href="myNew.htm" data-v-24a6dbce=""> 我的消息 </a>(<span style="color: #000;font-size:18px;font-weight:normal;" th:text="${noRead}"></span>)</li>
       </ul> 
       
       <script>
      $(function(){
    	  /*<![CDATA[*/
	    	var id = [[${nav == null?-1:nav}]];
	    	/*]]>*/
    	    $("#nav li").each(function() {
    	        $(this).siblings('li').removeClass('check');  // 删除其他兄弟元素的样式
    	    });
    	    $(id).addClass('check');                   // 添加当前元素的样式
    	});
      </script>
</header>
