<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
<title>类型列表</title>
</head>
<body>
<div class="page-container">
<form action="#" th:action="@{/admin/evaluateAudit/allList}"  method="post">
	<div class="layui-body">
		<fieldset class="layui-elem-field">
			<legend>审核记录</legend>
				<div class="layui-field-box">
					<div class="search_condition">
						<div class="layui-form-item ">
							<div class="row">
								<div class="col-xs-12 col-sm-3">
									<!--<input type="text" class="input-text wei-input"  placeholder="输入项目名称" id="" name="description"/>-->
								</div>
								<div class="col-xs-12 col-sm-2">
									<!--<button type="submit" class="layui-btn layui-btn-success radius " id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索记录</button>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			<hr style="margin: 0">
				<div class="cl pd-5 bg-1 bk-gray">
					<span class="l">
						<!--<a  href="javascript:;"-->
							<!--th:onclick="'javascript:deleteAll(\''+@{/admin/aboutUs/deleteColumByIds}+'\')'"-->
							<!--class="layui-btn layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i>-->
							<!--批量删除-->
						<!--</a>-->
						<!--<a  href="javascript:;"-->
							<!--th:onclick="column_add('添加栏目类型','/admin/aboutUs/toAddColumn',1200,600)" -->
							<!--class="layui-btn layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i>-->
							<!--添加栏目-->
						<!--</a>-->
					</span>
					<span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
				</div>
			<hr>
			<table style="table-layout: fixed;" class="layui-table text-c">
				<thead>
					<tr class="text-c">
						<th><input type="checkbox" name="" value=""/></th>
						<th>编号</th>
						<th>项目名称</th>
						<th>评论用户</th>
						<th colspan=2>评论类型</th>
						<th colspan=2>评论内容</th>
						<th colspan=2>创建时间</th>
						<th>审核人</th>
						<th colspan=2>审核时间</th>
						<th>审核状态</th>
						
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" th:if="${pageInfo.list.size() == 0}"><td colspan="10"><strong>暂无数据</strong></td></tr>
					<tr class="text-c" th:each="comment:${pageInfo.list}">
						<td><input type="checkbox" value="1" th:value="${comment.id}" name="id"/></td>
						<td th:text="${comment.id}"></td>
						<td th:text="${comment.projectName}"></td>
						<td th:text="${comment.userName}"></td>
						<td colspan=2 th:if="${comment.typeCode == 0}">设计师对项目的评价</td>
						<td colspan=2 th:if="${comment.typeCode == 1}">项目方对项目的评价</td>
						<td colspan=2 th:if="${comment.typeCode == 2}">设计师对平台的评价</td>
						<td colspan=2 th:if="${comment.typeCode == 3}">项目方对平台的评价</td>
						<td colspan=2 style=" overflow:hidden;white-space:nowrap;text-overflow:ellipsis; " th:text="${comment.content}"></td>
						<td colspan=2 th:text="${#dates.format(comment.submitTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
						<td th:text="${comment.auditName}"></td>
						<td colspan=2 th:text="${#dates.format(comment.processTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
						<td th:text="${comment.processCode == 1} ? '已通过' : '未通过'"></td>
					</tr>
				</tbody>
			</table>
		<div th:include="_pagination :: page"></div>
		</fieldset>
	</div>
	</form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}" src="lib/laypage/1.2/laypage.js"></script>
</body>
</html>