<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>项目审核</title>
</head>
<body>
<div class="page-container">
    <form action="#" th:action="@{/admin/payrecord}"  method="post">
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <legend>交易记录</legend>
                <div class="layui-field-box">
                    <div class="search_condition">
                        <div class="layui-form-item ">
                            <!--<div class="row">-->
                                <!--<div class="col-xs-12 col-sm-3">-->
                                <!--</div>-->
                                <!--<div class="col-xs-12 col-sm-3">-->
                                <!--</div>-->
                                <!--<div class="col-xs-12 col-sm-3">-->
                                <!--</div>-->
                                <!--<div class="col-xs-12 col-sm-3">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="clearfix blank_10"></div>-->
                            <div class="row">
                            </div>

                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0">
                    <div class="cl pd-5 bg-1 bk-gray">
                        <span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
                    </div>
                    <hr>
                    <table class="layui-table text-c">
                        <thead>
                        <tr class="text-c">
                            <th>记录编号</th>
                            <th>项目名称</th>
                            <th>用户名称</th>
                            <th>金额</th>
                            <th>内容</th>
                            <th>申请时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-c" th:if="${pageInfo.getSize() == 0}"><td colspan="15"><strong>暂无数据</strong></td></tr>
                        <tr  class="text-c" th:each="example,ex:${pageInfo.list}" >
                            <td><span th:text="${ex.count}" class="span_stu"></span></td>
                            <td><span th:text="${example.getProjectName()}" class="span_stu"></span></td>
                            <td><span th:text="${example.getUserName()}" class="span_stu"></span></td>
                            <td><span th:text="${example.getMoney()}" class="span_stu"></span></td>
                            <td><span th:text="${example.getContent()}" class="span_stu"></span></td>
                            <td><span th:text="${#dates.format(example.getCreatTime(), 'yyyy-MM-dd HH:mm:ss')}" class="span_stu"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div th:include="_pagination :: page"></div>

    </form>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->

<!--&lt;!&ndash;请在下方写此页面业务相关的脚本&ndash;&gt;-->
<!--<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>-->
<!--<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}" src="lib/laypage/1.2/laypage.js"></script>-->
<!--<script type="text/javascript">-->
    <!--/*-->
        <!--参数解释：-->
        <!--title	标题-->
        <!--url		请求的url-->
        <!--id		需要操作的数据id-->
        <!--w		弹出层宽度（缺省调默认值）-->
        <!--h		弹出层高度（缺省调默认值）-->
    <!--*/-->
    <!--/*项目-编辑*/-->
    <!--function admin_edit(title,url,w,h){-->
        <!--layer_show(title,url,w,h);-->
    <!--}-->
    <!--/*项目-删除*/-->
    <!--function admin_del(obj,url){-->
        <!--layer.confirm('确认要删除吗？',function(index){-->
            <!--$.ajax({-->
                <!--type: 'POST',-->
                <!--url: url,-->
                <!--dataType: 'json',-->
                <!--success: function(data){-->
                    <!--if(data.code == "000000"){-->
                        <!--layer.msg('删除成功!',{icon:1,time:1000});-->
                        <!--setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒-->
                            <!--window.location.reload();//页面刷新-->
                        <!--},500);-->
                    <!--}else{-->
                        <!--layer.msg('删除失败!',{icon:5,time:1000});-->
                    <!--}-->
                <!--},-->
                <!--error:function(data) {-->
                    <!--console.log(data.msg);-->
                <!--},-->
            <!--});-->
        <!--});-->
    <!--}-->

    <!--/*项目审核-拒绝*/-->
    <!--function rejectApplication(title,url,w,h){-->
        <!--layer_show(title,url,w,h);-->
    <!--}-->
    <!--/*项目审核-通过*/-->
    <!--function throughApplication(obj,url){-->
        <!--layer.confirm('是否要通过项目？',function(index){-->
            <!--$.ajax({-->
                <!--type: 'POST',-->
                <!--url: url,-->
                <!--dataType: 'json',-->
                <!--success: function(data){-->
                    <!--if(data.code == "000000"){-->
                        <!--layer.msg('审核通过!',{icon:1,time:1000});-->
                        <!--setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒-->
                            <!--window.location.reload();//页面刷新-->
                        <!--},500);-->
                    <!--}else{-->
                        <!--layer.msg('审核出现异常!',{icon:5,time:1000});-->
                    <!--}-->
                <!--},-->
                <!--error:function(data) {-->
                    <!--console.log(data.msg);-->
                <!--},-->
            <!--});-->
        <!--});-->
    <!--}-->

    <!--//批量删除-->
    <!--function deleteAll(url){-->
        <!--var _list = new Array();-->
        <!--$('input[name="id"]:checked').each(-->
            <!--function (i) {-->
                <!--_list[i] = $(this).val();-->
            <!--});-->
        <!--if(_list.length == 0){-->
            <!--layer.msg("请选择删除的项目");-->
            <!--return false;-->
        <!--}-->
        <!--layer.confirm('确定要删除选中的全部审核项目吗？', {-->
            <!--btn : [ '确定', '取消' ]-->
            <!--// 按钮-->
        <!--}, function() {-->
            <!--$.ajax({-->
                <!--url:url,// 跳转到 action-->
                <!--data:JSON.stringify(_list),-->
                <!--type:'post',-->
                <!--cache:false,-->
                <!--dataType:'json',-->
                <!--contentType:"application/json",  //发送信息至服务器时内容编码类型。-->
                <!--success:function(data) {-->
                    <!--if(data.code == "000000"){-->
                        <!--layer.msg('删除成功!',{icon:1,time:1000});-->
                        <!--setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒-->
                            <!--window.location.reload();//页面刷新-->
                        <!--},500);-->
                    <!--}else{-->
                        <!--layer.msg('删除失败!',{icon:5,time:1000});-->
                    <!--}-->
                <!--},-->
                <!--error : function() {-->
                    <!--layer.msg("异常！");-->
                <!--}-->
            <!--});-->
        <!--}, function() {-->

        <!--});-->
    <!--}-->
    <!--//批量通过-->
    <!--function passAll(url){-->
        <!--var _list = new Array();-->
        <!--$('input[name="id"]:checked').each(-->
            <!--function (i) {-->
                <!--_list[i] = $(this).val();-->
            <!--});-->
        <!--if(_list.length == 0){-->
            <!--layer.msg("请选择要通过的项目");-->
            <!--return false;-->
        <!--}-->
        <!--layer.confirm('确定要通过选中的全部审核项目吗？', {-->
            <!--btn : [ '确定', '取消' ]-->
            <!--// 按钮-->
        <!--}, function() {-->
            <!--$.ajax({-->
                <!--url:url,// 跳转到 action-->
                <!--data:JSON.stringify(_list),-->
                <!--type:'post',-->
                <!--cache:false,-->
                <!--dataType:'json',-->
                <!--contentType:"application/json",  //发送信息至服务器时内容编码类型。-->
                <!--success:function(data) {-->
                    <!--if(data.code == "000000"){-->
                        <!--layer.msg('通过成功!',{icon:1,time:1000});-->
                        <!--setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒-->
                            <!--window.location.reload();//页面刷新-->
                        <!--},500);-->
                    <!--}else{-->
                        <!--layer.msg('通过失败!',{icon:5,time:1000});-->
                    <!--}-->
                <!--},-->
                <!--error : function() {-->
                    <!--layer.msg("异常！");-->
                <!--}-->
            <!--});-->
        <!--}, function() {-->

        <!--});-->
    <!--}-->
<!--</script>-->
</body>
</html>