<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>项目详情 </title>
</head>
<body>
<style>
	#purRemarks{
		height:5em;
	}
	textarea{
		height:5em!important;
	}
	select{
		height:2.4em;
		border: solid 1px #ddd;
		width:100%;
	}
	.fs-wrap{
		width:100%;
		position:relative;
		top:8px;
	}
	.fs-label{
		height:1.4em;
		line-height:1.4em;
	}
	.fs-options{
		pointer-events:none;
	}
	#downLoadAllFiles{
		width: 100px;
	    height: 28px;
	    margin: 0 auto;
	    display: block;
	    text-align: center;
	    line-height: 28px;
	    color: #fff;
	    background-color: #be4f44;
	    border-radius: 8px;
	    font-size: 14px;
	}
	.el-input__inner{
		background-color: #fff;
	    background-image: none;
	    border-radius: 4px;
	    border: 1px solid #dcdfe6;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    color: #606266;
	    display: inline-block;
	    font-size: inherit;
	    height: 40px;
	    line-height: 40px;
	    width: 150px;
	}
</style>
<article class="page-container">
	<form class="form form-horizontal" id="form-purchase-add" action="#" th:action="@{/admin/projectmanager/updateproject}">
	<input type="hidden" name="save" value="true"/>
	<input type="text" name="id" th:value="${projectForm.id}" style="display:none"/>
	<input type="text" name="processorId" th:value="${projectForm.processorId}" style="display:none"/>
	<input type="text" name="allowView" th:value="${projectForm.allowView}" style="display:none"/>
	<input type="text" name="processorId" th:value="${projectForm.processorId}" style="display:none"/>
	<input type="text" name="userId" th:value="${projectForm.userId}" style="display:none"/>
	<input type="text" name="completeAudting" th:value="${projectForm.completeAudting}" style="display:none"/>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">项目名称:</label>
		<div class="formControls col-xs-5 col-sm-6" readonly="readonly">
			<input type="text" class="input-text" autocomplete="off"  
				placeholder="请填写" id="name" name="name" readonly="readonly"
				th:value="${projectForm.name}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">项目类型：</label>
		<div class="formControls col-xs-5 col-sm-6" readonly="readonly">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				th:value="${projectForm.projectType}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">设计师类别：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<span th:each="type:${types}" th:text="${type}+'  '"></span>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">所在省：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				th:value="${projectForm.province}"/>
		</div>
	</div>
	<div class="row cl" th:unless="${projectForm.city == null}">
		<label class="form-label col-xs-4 col-sm-3">所在市：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				th:value="${projectForm.city}"/>
		</div>
	</div>
	<div class="row cl" th:unless="${projectForm.area == null}">
		<label class="form-label col-xs-4 col-sm-3">所在区：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				th:value="${projectForm.area}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">项目规模：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				th:value="${projectForm.model}"/>
		</div>
	</div>
	<div class="row cl" style="display:none">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>项目功能：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<textarea class="input-text" autocomplete="off" readonly="readonly"
				placeholder="请填写" id="projectFunction" name="projectFunction"
				th:text="${projectForm.projectFunction}"></textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>项目阶段：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				th:value="${projectForm.stage}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>启动日期：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" readonly="readonly"
			autocomplete="off" value="" id="startupDateString" name="startupDateString" class="input-text Wdate"
			th:value="${#dates.format(projectForm.startupDate, 'yyyy-MM-dd')}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>截停止日期：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" readonly="readonly"
			autocomplete="off" value="" id="deadlineString" name="deadlineString" class="input-text Wdate"
			th:value="${#dates.format(projectForm.deadline, 'yyyy-MM-dd')}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>报名截止日期：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text"  readonly="readonly"
			autocomplete="off" value="" id="registrationDeadlineString" name="registrationDeadlineString" class="input-text Wdate"
			th:value="${#dates.format(projectForm.registrationDeadline, 'yyyy-MM-dd HH:mm:ss')}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>总工程费用：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text money_input" autocomplete="off" readonly="readonly"
				placeholder="请填写" id="constructionBudget" name="constructionBudget"
				th:value="${projectForm.constructionBudget}"></input>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>方案阶段费用：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text money_input" autocomplete="off" readonly="readonly"
				placeholder="请填写" id="designBudget" name="designBudget"
				th:value="${projectForm.planBudget}"></input>
		</div>
	</div>
	<div class="row cl">
	   <div class="Name">
		<div class="el-form-item is-required">
		 <label for="name" class="form-label col-xs-4 col-sm-3">费用分配：</label>
		  <div class="formControls col-xs-5 col-sm-6">
		   <span>建筑  :</span>
		   <input type="text" autocomplete="off" id="fee0" readonly="readonly"
		   		class="el-input__inner" th:value="${money1?.buildingMoney}" name="buildingMoney" style="width: 120px;" placeholder="建筑"/>
		   <span>结构 : </span>
		   <input type="text" autocomplete="off" id="fee1" readonly="readonly"
		   		class="el-input__inner" th:value="${money1?.structureMoney}" name="structureMoney" style="width: 120px;" placeholder="结构"/>
		   <span>水 : </span>
		   <input type="text" autocomplete="off" id="fee2" readonly="readonly"
		   		class="el-input__inner" th:value="${money1?.waterMoney}" name="waterMoney" style="width: 120px;" placeholder="水"/>
		   <span>暖 : </span>
		   <input type="text" autocomplete="off" id="fee4" readonly="readonly"
		   		class="el-input__inner" th:value="${money1?.warmMoney}" name="warmMoney" style="width: 120px;" placeholder="暖"/>
		   <span>电 : </span>
		   <input type="text" autocomplete="off" id="fee3" readonly="readonly"
		   		class="el-input__inner" th:value="${money1?.electricityMoney}" name="electricityMoney" style="width: 120px;" placeholder="电"/>
		  </div>
		</div>
	   </div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>施工图阶段费用：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text money_input" autocomplete="off" readonly="readonly"
				placeholder="请填写" id="designBudget" name="designBudget"
				th:value="${projectForm.designBudget}"></input>
		</div>
	</div>
	<div class="row cl">
	  <div class="Name">
		<div class="el-form-item is-required">
			 <label for="name" class="form-label col-xs-4 col-sm-3">费用分配：</label>
				 <div class="formControls col-xs-5 col-sm-6">
				 	 <span>建筑  :</span>
					 <input type="text" autocomplete="off" id="constructFee0" readonly="readonly"
					 		class="el-input__inner" th:value="${money2?.buildingMoney}" name="buildingMoney1" style="width: 120px;" placeholder="建筑"/>
					 <span>结构  :</span>	
					 <input type="text" autocomplete="off" id="constructFee1" readonly="readonly"
					 		class="el-input__inner" th:value="${money2?.structureMoney}" name="structureMoney1" style="width: 120px;" placeholder="结构"/>
					 <span>水  :</span>	
					 <input type="text" autocomplete="off" id="constructFee2" readonly="readonly"
					 		class="el-input__inner" th:value="${money2?.waterMoney}" name="waterMoney1" style="width: 120px;" placeholder="水"/>
                     <span>暖  :</span>
                     <input type="text" autocomplete="off" id="constructFee4" readonly="readonly"
                        		class="el-input__inner" th:value="${money2?.warmMoney}" name="warmMoney1" style="width: 120px;" placeholder="暖"/>
					 <span>电  :</span>	
					 <input type="text" autocomplete="off" id="constructFee3" readonly="readonly"
					 		class="el-input__inner" th:value="${money2?.electricityMoney}" name="electricityMoney1" style="width: 120px;" placeholder="电"/>
				 </div>
		 </div>
	  </div>
	</div>
	<div class="row cl" style="display:none">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>派单方式：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				th:value="${projectForm.dispatch}"/>
		</div>
	</div>
	<div class="row cl" >
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>项目状态：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				th:value="${projectForm.status}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>发布时间：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" readonly="readonly" value="无"
			autocomplete="off" id="releaseTimeString" name="releaseTimeString" class="input-text Wdate"
			th:value="${#dates.format(projectForm.releaseTime, 'yyyy-MM-dd')}"/>
		</div>
	</div>
	<div class="row cl" style="display:none">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>访问量：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				placeholder="请填写" id="pageView" name="pageView"
				th:value="${projectForm.pageView}"></input>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>备注：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<textarea class="input-text" autocomplete="off" readonly="readonly"
				placeholder="请填写" id="remarks" name="remarks" 
				th:text="${projectForm.remarks}"></textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>设计要求：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<textarea class="input-text" autocomplete="off" readonly="readonly"
				placeholder="请填写" id="requirements" name="requirements"
				th:text="${projectForm.requirements}"></textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>处理时间：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" readonly="readonly" value="无"
			autocomplete="off" id="processTimeString" name="processTimeString" class="input-text Wdate"
			th:value="${#dates.format(projectForm.processTime, 'yyyy-MM-dd HH:mm:ss')}"/>
		</div>
	</div>
	<div class="row cl" style="display:none">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>进度：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off" readonly="readonly"
				placeholder="请填写" id="projectProgress" name="projectProgress"
				th:value="${projectForm.projectProgress}"></input>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>文件展示方式：</label>
		<div class="formControls col-xs-5 col-sm-6">
				<input type="text" class="input-text" autocomplete="off"  
				placeholder="请填写" id="name" name="name" readonly="readonly"
				value="允许所有人查看" th:if="${projectForm.allowView eq '1'}"/>
				<input type="text" class="input-text" autocomplete="off"  
				placeholder="请填写" id="name" name="name" readonly="readonly"
				value="只允许选中设计师查看" th:if="${projectForm.allowView eq '0'}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>是否置顶：</label>
		<div class="formControls col-xs-5 col-sm-6">
				<input type="text" class="input-text" autocomplete="off"  
				placeholder="请填写" id="name" name="name" readonly="readonly"
				value="是" th:if="${projectForm.isTop eq 1}"/>
				<input type="text" class="input-text" autocomplete="off"  
				placeholder="请填写" id="name" name="name" readonly="readonly"
				value="否" th:if="${projectForm.isTop eq 0}"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>项目封面图片：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<img th:src="${projectForm.coverImage}"></img>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>项目简介：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<div class="text-input"  id="introduce" 
				th:utext="${projectForm.introduce}"></div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>项目资料：</label>
		<div role="tabpanel" id="pane-third" aria-labelledby="tab-third" class="el-tab-pane formControls col-xs-5 col-sm-6" >
	           <div class="fileData">
	            <form action="downloadMultipartFileWithZip" method="post" id="downloadMultipartFileWithZip" th:name="${projectForm.name}">
	             <ul>
		             <li th:each="file : ${projectForm.projectFiles}">
		             	<input class="input-text upload-url" type="hidden" th:id="'urlList['+${file.id}+']'" 
		             		style="width:400px" th:value="${file.filePath}">
		             </li>
	             </ul>
	            </form>
	            <ul>
	             <li element-loading-text="正在下载，请稍后..." th:each="file : ${projectForm.projectFiles}"
	             	element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
	                <a  class="download_item" href="javascript:;" 
	                	th:onclick="javascript:downSingle([[${file.filePath}]],[[${file.filename}]])">
	                	<h4 th:text="${file.filename}">设计院.pdf</h4>
	                </a>
	             </li>
	             
	            </ul>
	            <div class="clear"></div>
	            <div class="download_all" th:if="${projectForm.projectFiles.size() != 0}">
	             <a href="javascript:;" onclick="downloadAll()" id="downLoadAllFiles">下载全部</a>
	            </div>
	            <div class="download_all" th:if="${projectForm.projectFiles.size() eq 0}">
	             <div style="background: white; width: 240px;height: 56px;margin-left:28%; color:black; font-size:14px; border-radius: 8px;" disabled="disabled">暂无资料</div>
	            </div>
	        </div>
	     </div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<div th:replace="_footer :: footerjs"></div>
 <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"  src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"  src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" th:src="@{/lib/select/fSelect.js}" src="lib/select/fSelect.js"></script>
<script type="text/javascript">

$(function() {
    $('.demo').fSelect();
});
var result;
//选择省份事件
$("#province").change(function() {
	//先清空城市和区
	$("#city").empty();
	$("#areaId").empty();
	$('#city').append("<option value=''>待选择</option>");
	$('#areaId').append("<option value=''>待选择</option>");
	if($("#province").val()==""){
		//啥都不做
	}else{
		chooseDic("province",$("#province").val());
		var flag = false;
		for (i in result){
			$('#city').append("<option value='"+result[i].cityId+"'>"+result[i].name+"</option>");
		}
	}
});
//选择城市事件
$("#city").change(function() {
	//先清空规格
	$("#areaId").empty();
	$('#areaId').append("<option value=''>待选择</option>");
	if($("#city").val()==""){
		//啥都不做
	}else{
		chooseDic("city",$("#city").val());
		for (i in result){
			$('#areaId').append("<option value='"+result[i].areaId+"'>"+result[i].name+"</option>");
		}
	}
});
//选择下拉菜单时和后台要字典的交互方法
function chooseDic(who,code){
	var toServer={
		who : who,
		code : code,
	}
	//此处请求后台程序，下方是成功后的前台处理……
	$.ajax({
		type: 'POST',
		url: "/admin/projectmanager/getareadic",
		dataType: 'json',
		data:toServer,
		async:false,
		success: function(data){
			//返回服务器返回的字典对象
			result = data;
			
		},
		error:function(data) {
			console.log("错误!");
		},
	});
}
$(function(){
	
	$("#form-purchase-add").validate({
		rules:{
			
			purchasePrice:{
				required:true,
				 number: true,     //输入必须是数字
                 min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                 minNumber: $("#purchasePrice").val()    //调用自定义验证
			},
			finalPurchase:{
				//required:true,
				 number: true,     //输入必须是数字
                 min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                 minNumber: $("#purchasePrice").val()    //调用自定义验证
			},
			qualityPrice:{
				required:true,
				number: true,     //输入必须是数字
                min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                minNumber: $("#purchasePrice").val(),    //调用自定义验证
			},
			purchaseTime:{
				required:true,
				dateISO:true,
			},
		},
		onkeyup:false,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'get',
				url: "/admin/projectmanager/updateproject" ,
				success: function(data){
					if(data.code == "000000"){
							//禁止重复提交
							$('#subbtn').attr("type","button");
							layer.msg('修改成功!',{icon:1,time:1000},function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index); 
						});
					}else{
						layer.msg('修改失败!请重试',{icon:1,time:1000});
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
		
		}
	});
});
//自定义validate验证输入的数字小数点位数不能大于两位
jQuery.validator.addMethod("minNumber",function(value, element){
    var returnVal = true;
    inputZ=value;
    var ArrMen= inputZ.split(".");    //截取字符串
    if(ArrMen.length==2){
        if(ArrMen[1].length>2){    //判断小数点后面的字符串长度
            returnVal = false;
            return false;
        }
    }
    return returnVal;
},"小数点后最多为两位");         //验证错误信息
$('#cancel').on('click',function(){
	window.close();
});
//关闭窗口
function window_close(){
   	var index = parent.layer.getFrameIndex(window.name);
	parent.layer.close(index); 
}
//加载时请求回显省市区
$(function(){
	chooseDic("province",$("#province").val());
	for (i in result){
		if($('#cityRecord').text() == result[i].cityId){
			$('#city').append("<option value='"+result[i].cityId+"'>"+result[i].name+"</option>");
		}
	}
	chooseDic("city",$("#city").val());
	for (i in result){
		if($('#areaRecord').text() == result[i].areaId){
			$('#areaId').append("<option value='"+result[i].areaId+"'>"+result[i].name+"</option>");
		}
	}
});

//钱的格式化
$('.money_input').each(function(){
	var money = parseInt($(this).val());
	money = parseInt(money/100);
	$(this).val(money/100+"万元");
})

$(function(){
	var string = $('.designersType').val();
	
});

//项目方下载单个条件
function downSingle(url,fileName){
 downloadSingleFile(url, fileName);
}

// 项目方下载项目文件压缩包
function downloadAll(){
 downloadMultipartFileWithZipTest();
}
// 批量文件下载
function downloadMultipartFileWithZipTest() {
 var name = $("#downloadMultipartFileWithZip").attr("name");
 var urlArr = new  Array();
 $('input[id^=urlList]').each(function () {
  if ($(this).val() != ""){
   urlArr.push($(this).val());
  }
 });
 downloadMultipartFileWithZip(urlArr,name+"文件压缩包");
}

/*用来控制选取那几个种类后展示那几个种类费用文本框*/
function select(){
    var boxes = document.getElementsByName("designerTypes");
    for(i=0;i<boxes.length;i++){
         if(!boxes[i].checked){
        	 $("#fee"+i).css("display","none");
			 $("#constructFee"+i).css("display","none");
         }
         if(boxes[i].checked){
        	 $("#fee"+i).css("display","inline");
			 $("#constructFee"+i).css("display","inline");
         }
    }
}
$("input[type='checkbox']").change(function(){
	select();
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>