<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>404页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>

		<div class="container-w3layouts  text-center">
			<div class="agileits-logo"></div>
			<div class="agileits-logo"></div>
			<h2 class="txt-wthree">error 404</h2>
			<p>Looks like the page you are trying to visit does not exist
				<br> Please check the URL and Try again.
			</p>
		</div>
	</body>

</html>