<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>关于我们 - 栏目管理 </title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	 <input type="hidden" name="id" th:value="${column.id}"/>
	 <input type="hidden" name="url" th:value="${column.url}"/>
	 <input type="hidden" name="orderNum" th:value="${column.orderNum}"/>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>栏目名称</label>
		<div class="formControls col-xs-7 col-sm-8 skin-minimal">
		<input type="text" class="input-text" name="description" value="" th:value="${column.description}" placeholder="" id="description"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题</label>
		<div class="formControls col-xs-7 col-sm-8">
			<input type="text" class="input-text" name="title" value="" th:value="${column.title}" placeholder="" id="title"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容</label>
        <div class="formControls col-xs-18 col-sm-8">
            <script id="editor" th:text="${column.content}" name="content" type="text/plain" style="height:500px;">
			</script>
        </div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" style="margin-left:250px;margin-right:30px;" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
			<input class="btn btn-primary radius" type="button" id="cancel" value="&nbsp;&nbsp;取消&nbsp;&nbsp;"/>
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<div th:replace="_footer :: footerjs">
</div>
<div th:replace="_ueditor :: ueditor">
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"  src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			description:{
				required:true,
			},
			title:{
				required:true,
			},
			content:{
				required:true,
			},
		},
		onkeyup:false,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "/admin/aboutUs/editColumn" ,
				success: function(data){
					if(data == 1){
						layer.msg('修改成功!',{icon:1,time:1000},function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index); 
						});
					}else{
						layer.msg('修改失败!',{icon:1,time:1000});
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('修改失败!',{icon:1,time:1000});
				}
			});
		
		}
	});
});
$("#cancel").on('click',function(){
	var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    //layer.msg(index);
    parent.layer.close(index); //再执行关闭   
})
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>