<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
<title>类型列表</title>
</head>
<body>
<div class="page-container">
<form action="#" th:action="@{/admin/aboutUs/columnManagement}"  method="post">
	<div class="layui-body">
		<fieldset class="layui-elem-field">
			<legend>文章列表</legend>
				<div class="layui-field-box">
					<div class="search_condition">
						<div class="layui-form-item ">
							<div class="row">
								<div class="col-xs-12 col-sm-3">
									<input type="text" class="input-text wei-input"  placeholder="输入栏目名称" id="" th:value="${description}" name="description"/>
								</div>
								<div class="col-xs-12 col-sm-2">
									<button type="submit" class="layui-btn layui-btn-success radius " id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索栏目</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			<hr style="margin: 0">
				<div class="cl pd-5 bg-1 bk-gray">
					<span class="l">
						<a  href="javascript:;"
							th:onclick="'javascript:deleteAll(\''+@{/admin/aboutUs/deleteColumByIds}+'\')'"
							class="layui-btn layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i>
							批量删除
						</a>
						<a  href="javascript:;"
							th:onclick="column_add('添加栏目类型','/admin/aboutUs/toAddColumn',1200,600)" 
							class="layui-btn layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i>
							添加栏目
						</a>
					</span>
					<span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
				</div>
			<hr>
			<table style="table-layout: fixed;" class="layui-table text-c">
				<thead>
					<tr class="text-c">
						<th><input type="checkbox" name="" value=""/></th>
						<th>编号</th>
						<th>栏目名称</th>
						<th>标题</th>
						<th colspan=2 width="30%">内容</th>
						<th>操作</th>
						
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" th:if="${pageInfo.list.size() == 0}"><td colspan="15"><strong>暂无数据</strong></td></tr>
					<tr class="text-c" th:each="column:${pageInfo.list}">
						<td><input type="checkbox" value="1" th:value="${column.id}" name="id"/></td>
						<td th:text="${column.id}"></td>
						<td th:text="${column.description}"></td>
						<td th:text="${column.title}"></td>
						<td colspan=2 style=" overflow:hidden;white-space:nowrap;text-overflow:ellipsis; " th:text="${column.content}"></td>
						<td class="td-manage">
							<a title="编辑信息" href="javascript:;" th:onclick="'javascript:projecttype_edit(\'编辑文章\',\'/admin/aboutUs'+@{/toEditColumn}+'/'+${column.id}+'\',1200,600)'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
							<a title="删除"    href="javascript:;" th:onclick="'javascript:projecttype_del(this,\'/admin/aboutUs'+@{/deleteColumById}+'/'+${column.id}+'\')'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		<div th:include="_pagination :: page"></div>
		</fieldset>
	</div>
	</form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*项目类型-增加*/
function column_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*项目类型-编辑*/
function projecttype_edit(title,url,w,h){
	layer_show(title,url,w,h);
}
/* 项目类型-删除 */
function projecttype_del(obj,url){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: url,
			success: function(data){
				if(data == 1){
// 					layer.msg('删除成功!',{icon:2,time:2000});
					window.location.reload();
				}else{
					layer.msg('删除失败!',{icon:5,time:1000});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/* 项目类型批量删除 */
function deleteAll(url){
	var _list = new Array();
	$('input[name="id"]:checked').each(
          function (i) {
          	_list[i] = $(this).val();
          });
	if(_list.length == 0){
		layer.msg("请选择删除的项目类型");
		return false;
	}
  layer.confirm('确定要删除选中的全部数据吗？', {
		btn : [ '确定', '取消' ]
	// 按钮
	}, function() {
		 $.ajax({  
	   	     url:url,// 跳转到 action  
	   	     data:JSON.stringify(_list),  
	   	     type:'post',  
	   	     cache:false,  
	   	     dataType:'json', 
	   	     contentType:"application/json",  //发送信息至服务器时内容编码类型。    
	   	     success:function(data) {  
	   	         if(data == 1){  
// 	   	        	layer.msg('删除成功!',{icon:2,time:3000});
	   	            window.location.reload();  
	   	         }else{  
	   	        	layer.msg('删除失败!',{icon:5,time:1000});
	   	         }  
	   	      },  
	   	      error : function() {  
	   	    	  layer.msg("异常！");
	   	      }  
	        });
	}, function() {

	});
}
 </script>
</body>
</html>