<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
<title>修改项目分类列表</title>
</head>
<body>
	<div class="page-container">
	<form action="#" th:action="@{/admin/capitalAudit}"  method="post">
		<div class="layui-body">
			<!-- 内容主体区域 -->
			<fieldset class="layui-elem-field">
				<legend>资金审核</legend>
				<div class="layui-field-box">
					<div class="search_condition">
						<div class="layui-form-item ">
							<div class="row">
								<div class="col-xs-12 col-sm-3">
		<input type="text" class="input-text" placeholder="输入申请人姓名" id="text1" th:value="${capital.applicantName}" name="applicantName"/>
		</div>
		<div class="col-xs-12 col-sm-3">
		<input type="text" class="input-text"  placeholder="输入申请类型" id="text1" th:value="${capital.applicationType}" name="applicationType"/>
		</div>
		<div class="col-xs-12 col-sm-3">
		<input type="text" class="input-text"  placeholder="输入金额" id="money" th:value="${capital.money}" name="money"/>
		</div>
			<div class="row">
		<div class="col-xs-12 col-sm-2">
			<button type="submit" class="layui-btn layui-btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i>查询</button>
		</div>
		</div>
		</div>
		</div>
		<hr style="margin: 0">
	<div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
			<a href="javascript:;" th:onclick="'javascript:examineAll(\''+@{/admin/capitalAudit/examineAll}+'\')'"  class="layui-btn layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量通过</a>
		</span>
			<span class="r">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span> 
	</div>
	<hr style="margin: 0">	
	<table class="layui-table text-c">
		<thead>
<!-- 			<tr> -->
<!-- 				<th scope="col" colspan="11">修改项目列表</th> -->
<!-- 			</tr> -->
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""/></th>
				<th width="40">序号</th>
				<th width="50">用户名</th>
				<th width="50">金额</th>
				<th width="50">申请类型</th>
				<th width="100" >卡号</th>
				<th width="100" >电话</th>
				<th width="150" >备注</th>
				<th width="100" >申请时间</th>
				<th width="100" >状态</th>
				<th width="100" >操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" th:if="${pageInfo.list.size() == 0}"><td colspan="15"><strong>暂无数据</strong></td></tr>
			<tr class="text-c" th:each="capitalAudit:${pageInfo.list}">
				<td><input type="checkbox" value="1" th:value="${capitalAudit.id}" name="id"/></td>
				<td th:text="${capitalAudit.id}"></td>
				<td th:text="${capitalAudit.applicantName}"></td>
				<td th:text="${capitalAudit.money}"></td>
				<td th:text="${capitalAudit.applicationType}"></td>
				<td th:text="${capitalAudit.card}"></td>
				<td th:text="${capitalAudit.tel}"></td>
				<td th:text="${capitalAudit.remarks}"></td>
				<td th:text="${capitalAudit.applicationTime}"></td>
				<td th:text="${capitalAudit.state}"></td>
				
				<td class="td-manage">
				<a title="通过"   class="ml-5" style="text-decoration:none" th:onclick="'javascript:admin_stop(this,\'capitalAudit'+@{/examine}+'/'+${capitalAudit.id}+'\')'" href="javascript:;"><i class="Hui-iconfont">&#xe6a7;</i></a>
				<a title="拒绝"   href="javascript:;" th:onclick="'javascript:admin_edit(\'填写拒绝提现或退款理由\',\'capitalAudit'+@{/edit}+'/'+${capitalAudit.id}+'\',800,500)'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6dd;</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
			</fieldset>
		</div>
	<div th:include="_pagination :: page"></div>
	</form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*
参数解释：
title	标题
url		请求的url
id		需要操作的数据id
w		弹出层宽度（缺省调默认值）
h		弹出层高度（缺省调默认值）
*/

/*通过审核*/
function admin_stop(obj,url){
	layer.confirm('确认要通过吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			type: 'POST',
			url: url,
			dataType: 'json',
			success: function(data){
				
				if(data == 1){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,\''+url+'\')" href="javascript:;" title="通过" style="text-decoration:none">通过</a>');
					$(obj).remove();
					layer.msg('审核成功!',{icon: 6,time:1000});
					window.location.reload(); 
				}else{
					layer.msg('审核失败!',{icon:5,time:1000});
					window.location.reload(); 
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
$("#money").keyup(function(){
    var money = this.value;//这个就是我们要判断的值了
    if(isNaN(money)){
        $("#money").val(null);
    }
});

/*管理员-增加*/
function admin_add(title,url,w,h){
layer_show(title,url,w,h);
}

/*管理员-编辑*/
function admin_edit(title,url,w,h){
layer_show(title,url,w,h);
}
/*维修-删除*/
function admin_del(obj,url){
layer.confirm('确认要删除吗？',function(index){
	$.ajax({
		type: 'POST',
		url: url,
		dataType: 'json',
		success: function(data){
			if(data == 1){
				window.location.reload();
			}else{
				layer.msg('删除失败!',{icon:5,time:1000});
			}
		},
		error:function(data) {
			console.log(data.msg);
		},
	});		
});
}
//通过
function admin_pass(obj,url){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: url,
			dataType: 'json',
			success: function(data){
				if(data == 1){
					window.location.reload();
				}else{
					layer.msg('删除失败!',{icon:5,time:1000});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
	}
//重置
function change(){
var r=document.getElementById("text1");
r.value="";
}

//批量删除
function examineAll(url){
var _list = new Array();
$('input[name="id"]:checked').each(
      function (i) {
      	_list[i] = $(this).val();
      });
if(_list.length == 0){
	layer.msg("请选择通过的选项");
	return false;
}
layer.confirm('确定要通过选中的全部条数吗？', {
	btn : [ '确定', '取消' ]
// 按钮
}, function() {
	 $.ajax({  
   	     url:url,// 跳转到 action  
   	     data:JSON.stringify(_list),  
   	     type:'post',  
   	     cache:false,  
   	     dataType:'json', 
   	     contentType:"application/json",  //发送信息至服务器时内容编码类型。    
   	     success:function(data) {  
   	         if(data == 1){  
   	            window.location.reload();  
   	         }else{  
   	        	layer.msg('审核失败!',{icon:5,time:1000});
   	         }  
   	      },  
   	      error : function() {  
   	    	  layer.msg("异常！");  
   	      }  
        });
}, function() {

});
}
</script>
</body>
</html>