<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="_meta :: header">
    <meta charset="utf-8"/>
    <title>用户反馈列表</title>
</head>
<body>

<!--<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 案例管理 <span class="c-gray en">&gt;</span> 案例项目列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:window.location.href='/admin/example/showExample';" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>-->
<div class="page-container">
    <form action="#" th:action="@{/admin/example/showExample}"  method="post" onsubmit="return judge()">
        <div class="layui-body">
            <fieldset class="layui-elem-field">
                <legend>用户反馈列表</legend>
                <div class="layui-field-box">
                    <div class="search_condition">
                        <div class="layui-form-item ">

                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" class="input-text" style="width:250px" placeholder="输入反馈标题名称" id="" th:value="${exampleName}" value="" name="exampleName"/>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" class="input-text" autocomplete="off" readonly="readonly"
                                           placeholder="输入用戶反馈日期开始范围"
                                           onfocus="WdatePicker({el:$dp.$('purchaseTime'),dateFmt:'yyyy-MM-dd'})"
                                           id="start" th:value="${startDate}" name="startDate"/>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" class="input-text" autocomplete="off" readonly="readonly"
                                           placeholder="输入用戶反馈日期结束范围"
                                           onfocus="WdatePicker({el:$dp.$('purchaseTime'),dateFmt:'yyyy-MM-dd'})"
                                           id="end" th:value="${endDate}" name="endDate"/>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" class="input-text" autocomplete="off" readonly="readonly"
                                           placeholder="输入用戶反馈处理日期开始范围"
                                           onfocus="WdatePicker({el:$dp.$('purchaseTime'),dateFmt:'yyyy-MM-dd'})"
                                           id="handleStartDate" th:value="${handleStartDate}" name="handleStartDate"/>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" class="input-text" autocomplete="off" readonly="readonly"
                                           placeholder="输入用戶反馈处理日期结束范围"
                                           onfocus="WdatePicker({el:$dp.$('purchaseTime'),dateFmt:'yyyy-MM-dd'})"
                                           id="handleEndDate" th:value="${handleEndDate}" name="handleEndDate"/>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <button type="submit" class="layui-btn  layui-btn-success radius ml-10" style="text-align: center;"><i class="Hui-iconfont">&#xe665;</i> 查询用户反馈</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0">
                    <div class="cl pd-5 bg-1 bk-gray">
                        <span class="r wei-height">共有反馈：<strong th:text="${pageInfo.total}"></strong> 条</span>
                    </div>
                    <hr>
                    <table class="table table-border table-bordered table-bg">
                        <thead>
                        <tr class="text-c">
                            <th width="40">序号</th>
                            <th width="150">标题</th>
                            <th width="60">反馈正文</th>
                            <th width="150">反馈用户姓名</th>
                            <th width="130">反馈时间</th>
                            <th width="180">反馈处理时间</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-c" th:if="${pageInfo.list.size() == 0}"><td colspan="15"><strong>暂无案例项目</strong></td></tr>
                        <tr class="text-c" th:each="example,exampleCount:${pageInfo.list}" >
                            <td th:text="${exampleCount.count}"></td>
                            <td th:text="${example.getTitle()}"></td>
                            <td th:text="${example.getContent()}"></td>
                            <td th:text="${example.getUserName()}"></td>
                            <td th:text="${#dates.format(example.getSubmitTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#dates.format(example.getProcessTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <i th:if="${example.getProcessTime() != null}" class="Hui-iconfont" style="cursor: pointer;color: green;" title="已回复">&#xe6a8;</i>
                                <a th:if="${example.getProcessTime() == null}" th:onclick="javascript:example_edit([[${example.getId()}]],[[${example.getTel()}]])" th:href="'javascript:void(0);'"><i class="Hui-iconfont" style="cursor: pointer;" title="回复">&#xe647;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div th:include="_pagination :: page"></div>
    </form>

</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>

<script>
    function example_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    function example_edit(a,b){
        /*<![CDATA[*/
        layer_show('回复用户反馈','/admin/feedback/toreply?id='+a+'&tel='+b,1400,600);
        /*]]>*/
    }
</script>
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>

<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    //全选
    var selectAll = false;
    $("#checkBox_selectAll").click(function () {
        if(!selectAll)
        {
            $(".checkBox_id").prop("checked", true);
            selectAll = true;
        }
        else
        {
            $(".checkBox_id").prop("checked", false);
            selectAll = false;
        }
    });

    /*批量删除*/
    function deleteAll(url){
        var _list = new Array();
        $('input[name="id"]:checked').each(
            function (i) {
                _list[i] = $(this).val();
            });

        if(_list.length <=0){
            layer.msg("请选择要批量删除的案例");
            return false;
        }
        layer.confirm('确定删除所选的所有案例吗？', {
            btn : [ '确认', '取消' ]
            // 按钮
        }, function() {
            $.ajax({
                url:'/admin/example/deleteAll',// 跳转到 action
                data:JSON.stringify(_list),
                type:'post',
                cache:false,
                dataType:'json',
                contentType:"application/json",  //发送信息至服务器时内容编码类型。
                success:function(data) {
                    if(data == 1){
                        window.location.href="/admin/example/showExample";
                    }else{
                        layer.msg("Please delete the associated child first");
                    }
                },
                error : function() {
                    layer.msg("删除异常！");
                }
            });
        }, function() {

        });
    }
    /*]]>*/

    $(".changeIcon").click(function(){
        $(this).parent().siblings().children(".input_changeStu").toggle("fast");
        $(this).parent().siblings().children(".span_stu").toggle("fast");
        $(this).siblings().show();
        $(this).hide();
    });
    $(".button_changeCancel").click(function () {
        $(this).siblings().hide();
        $(this).siblings(".changeIcon").show();
        $(this).parent().siblings().children(".input_changeStu").toggle("fast");
        $(this).parent().siblings().children(".span_stu").toggle("fast");
        $(this).hide();
    });
    function judge()
    {
        if(($("#start").val()>$("#end").val() && $("#start").val() != "" && $("#end").val() != "")||($("#handleStartDate").val()>$("#handleEndDate").val() && $("#handleStartDate").val() != "" && $("#handleEndDate").val() != ""))
        {
            layer.msg("开始日期必须小于等于结束日期！");
            return false
        }
        return true;
    }
    function deleteExample(id)
    {
        layer.confirm('确定删除这个案例吗？', {
            btn : [ '确定', '取消' ]
            // 按钮
        },function(){
            $.ajax({
                type: 'get',
                url: "/admin/example/delete?id="+id,
                success: function(data){
                    if(data.code == "000000"){
                        layer.msg('删除成功!',{icon:1,time:1000});
                        window.location.reload();
                    }else{
                        layer.msg('删除失败!',{icon:1,time:1000});
                    }
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('删除失败!请检查网络连接！',{icon:1,time:1000});
                }
            });
        });
    }

</script>

</body>
</html>