<header class="navbar-wrapper" th:fragment="footer">
	 <div class="container" data-v-407369c6>
          <div class="footer-top" data-v-407369c6>
              <ul class="footer-top-nav clearfix" data-v-407369c6>
                  <li data-v-407369c6><a th:href="@{/hall?pageSize=16}" href="case.htm" id="footer_case" data-v-407369c6>项目大厅</a></li>
                  <li data-v-407369c6><a th:href="@{/classicexample?pageSize=16}" href="index-1.html" data-v-407369c6>经典案例</a></li>
                  <li data-v-407369c6><a th:href="@{/bindAbout/aboutUs}" href="us.htm" data-v-407369c6>关于我们</a></li>
              </ul>
          </div>Z
          <div class="footer-center clearfix" data-v-407369c6>
              <div class="footer-center-left" data-v-407369c6>
                  <div class="footer-logo" data-v-407369c6>
                      <img th:src="${setting.footImg}" alt="" data-v-407369c6 />
                      <!--<img th:src="${setting.titleImg}" alt="" data-v-407369c6 />-->
                  </div>
              </div>
              <div class="footer-center-right" data-v-407369c6>
                  <div class="footer-tel clearfix" data-v-407369c6>
                      <div data-v-407369c6>
                          客服热线：
                      </div>
                      <div class="tel" data-v-407369c6 th:text="${setting.phone}">
                          400-8820-9858
                      </div>
                  </div>
                  <div class="footer-link clearfix" data-v-407369c6>
                      <div data-v-407369c6>
                          友情链接：
                      </div>
                      <div class="link clearfix" data-v-407369c6>
                          <dd data-v-407369c6 th:each="link,itemStat:${linkList}" th:if="${itemStat.count}<=20">
                              <a th:href="${link.getLink()}" target="_blank" data-v-407369c6 th:text="${link.getName()}">建筑英才网</a>
                          </dd>
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>建筑英才网</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>Architank</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>ArchiName筑名导航</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>知筑导航</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>筑视网</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>专筑网</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>毕马汇</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>设计群网</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>紫天SketchUp中文网志</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>土木者论坛</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>建筑英才网</a>-->
                          <!--</dd>-->
                          <!--<dd data-v-407369c6>-->
                              <!--<a href="" target="_blank" data-v-407369c6>建筑英才网</a>-->
                          <!--</dd>-->
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-bottom clearfix" data-v-407369c6>
              <div data-v-407369c6 th:text="${setting.icpInformation}">
                  Copyright&copy;2016 上海建科设计有限公司 冀ICP备19008852号
              </div>
              <div data-v-407369c6>
                  <div class="erweimaBox" data-v-407369c6>
                      <span data-v-407369c6><img th:src="@{/font/images/btn_wechat_nor.5685c84.png}" data-v-407369c6 /></span>
                      <div class="charWeima erweima" data-v-407369c6>
                          <img th:src="${setting.wechatImg}" alt="" data-v-407369c6 />
                          <p data-v-407369c6>关注微信公众号</p>
                      </div>
                  </div>
                  <div class="erweimaBox" data-v-407369c6>
                      <span data-v-407369c6><img th:src="@{/font/images/mail.png}"  data-v-407369c6 /></span>
                      <div class="phoneWeima erweima" data-v-407369c6 style="width:155px;height:16px;background-color:#fff;text-align: center;top: -27px;left:-42px; ">
                          <p style="margin-top:-4px;" data-v-407369c6 th:text="${setting.emailAddress}">17810662265@163.com</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <script>
	      var r = /^\+?[1-9][0-9]*$/;
	      function getCityId(){
	    	  return r.test(returnCitySN['cid'])?returnCitySN['cid']:'';
	      }
	      //js获取地区code给项目大厅传参
	      $(function(){
	    	  $('#footer_case').attr("href",$('#footer_case').attr('href')+"&cityId="+getCityId());
	      });
      </script>
</header>
